<div class="main posts-show">
  <div class="posts-show-item">
    <img src="<%= "/user_images/#{@post.user.image_name}" %>">
    <div class="user-name"><%= link_to @post.user.name, @post.user %></div>
    <p><%= @post.content %></p>
    <div class="post-time">
      <%= @post.created_at %>
    </div>
    <div class="post-menus">
      <% if @current_user.id == @post.user_id %>
        <%= link_to "編集", edit_post_path(@post) %>
        <%= link_to "削除", @post, method: :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>
    <div id="like_<%= @post.id %>">
      <%= render partial: 'likes/like', locals: {post: @post} %>
    </div>
    <div class="tags">
      <% @post.tags.each do |tag| %>
        <div class="tag-items">
          <%= link_to "##{tag.tag_name}", "/tags/#{tag.tag_name}" %>
        </div>
      <% end %>
    </div>
  </div>
  <%= form_tag "/posts/#{@post.id}/comment" do %>
    <p>コメント</p>
    <% @comment.errors.full_messages.each do |message| %>
      <div class="form-error">
        <%= message %>
      </div>
    <% end %>
    <textarea name="comment_content"></textarea>
    <br><input type="submit" value="送信">
  <% end %>
  <p>コメント一覧</p>
  <% @comments.each do |comment| %>
    <div class="comment-list">
      <%= comment.comment_content %>
    </div>
  <% end %>
  
</div>
        